.footer{
    height: 140px;
    display: flex;
    background-color: $header-color;
    align-items: center;
    justify-content: center;
    user-select: none;
    &--container{
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $container-size;
    }
    &--title{
        font-size: 18px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    &--links{
        display: flex;
        &-item{
            margin: 5px;
            font-size: 24px;
            transition: .3s;
            &:hover{
                color: $blue;
            }
            &:active{
                scale: 0.95;
            }
        }
    }
}