.hero {
  overflow: hidden;
  width: $container-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  & * {outline:none;}
  padding: 50px 0;
  &--container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &--content {
    width: 50%;
  }
  &--img {
    height: 350px;
    width: 342px;
    animation: morph 8s ease-in-out infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
  &--title {
    font-size: 55px;
    color: $header-color;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
    &-icon {
      width: 60px;
      height: 60px;
      transform: translateY(5px);
      background-image: url(https://stefantopalovicdev.vercel.app/static/media/waving.1bae5fcfb51082b5c2b4.png);
      background-size: contain;
      display: inline-block;
      background-position: center;
    }
  }
  &--description {
    color: $description-color;
    font-family: "Mulish", sans-serif;
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
    line-height: 1.6;
  }
  &--icons {
    display: flex;
    &-item {
      cursor: pointer;
      margin-right: 10px;
      font-size: 32px;
      transition: 0.3s;
      &:hover {
        color: $blue;
      }
      &:active{
        scale: 0.92;
      }
    }
  }
  &--tech {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-top: 120px;
    &-logo {
      color: $header-color;
      font-weight: 700;
      width: 18%;
      position: relative;
      font-family: "Mulish", sans-serif;
      &::after {
        content: "";
        top: 50%;
        margin-left: 25px;
        position: absolute;
        height: 20px;
        width: 2px;
        transform: translateY(-50%);
        background-color: rgba(45, 46, 50, 0.5);
      }
    }
    &-stack {
      font-size: 32px;
      display: flex;
      justify-content: space-around;
      width: 82%;
      &.item {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.09);
        cursor: pointer;
        transition: .3s;
        &:active{
          scale: 0.92;
        }
      }
      &.icon{
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.item:nth-child(1) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn-icons-png.flaticon.com/512/732/732212.png);
        }
      }
      &.item:nth-child(2) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn-icons-png.flaticon.com/512/732/732190.png);
        }
      }
      &.item:nth-child(3) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn-icons-png.flaticon.com/512/5968/5968292.png);
        }
      }
      &.item:nth-child(4) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn.icon-icons.com/icons2/2699/PNG/512/reactjs_logo_icon_168875.png);
        }
      }
      &.item:nth-child(6) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn-icons-png.flaticon.com/512/5968/5968358.png);
        }
      }
      &.item:nth-child(5) {
        .hero--tech-stack.icon {
          background-image: url(https://cdn.icon-icons.com/icons2/2415/PNG/512/redux_original_logo_icon_146365.png);
        }
      }
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
