.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    width: calc(100% - 80px);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    &--logo{
        font-family: 'Ysabeau SC', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
    &--menu{
        display: flex;
        &-icon{
            display: none;
        }
        &-item{
            font-family: 'Ysabeau SC', sans-serif;
            cursor: pointer;
            margin: 10px 20px;
            font-weight: 700;
            transition: .3s;
            &:hover{
                color: $blue;
            }
        }
    }
}